@font-face {
  font-family: Generalsans;
  src: url('../fonts/GeneralSans-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Generalsans;
  src: url('../fonts/GeneralSans-Regular.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #fefcf8;
  --_typography---generalsans: Generalsans, Arial, sans-serif;
  --grey: #3a4140;
  --_typography---text: 16px;
  --_typography---height-body: 1.3;
  --_typography---regular: 400;
  --black: #081010;
  --_typography---heading-1: 64px;
  --_typography---height-heading: 1.1;
  --_typography---heading-2: 56px;
  --_typography---heading-3: 48px;
  --_typography---heading-4: 40px;
  --_typography---heading-5: 32px;
  --_typography---heading-6: 24px;
  --light-grey: #bbb9b5;
  --_spacing---4-rem: 4rem;
  --_spacing---2-rem: 2rem;
  --_spacing---1-5-rem: 1.5rem;
  --_spacing---1-rem: 1rem;
  --_spacing---6-rem: 6rem;
  --_spacing---8-rem: 8rem;
  --subtle-grey: #f5f3f0;
  --_typography---subtitle: 18px;
  --_typography---medium: 500;
  --_spacing---0-5-rem: .5rem;
  --_color---black: #111317;
  --_spacing---12-rem: 12rem;
  --_spacing---10-rem: 10rem;
  --_color---light-grey: #bbb9b5;
  --_color---accent: #1f453f;
  --_color---white: #fefcf8;
  --_color---subtle-accent: #c6f0dc;
  --_spacing---0-75-rem: .75rem;
  --_color---grey: #2a2d31;
  --_color---subtle-grey: #f5f3f0;
  --_color---light-accent: #39736a;
  --_spacing---0-25-rem: .25rem;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--white);
  font-family: var(--_typography---generalsans);
  color: var(--grey);
  font-size: var(--_typography---text);
  line-height: var(--_typography---height-body);
  font-weight: var(--_typography---regular);
}

h1 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-1);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-2);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-3);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-4);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  margin-top: 0;
  margin-bottom: 0;
}

h5 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-5);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-6);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: var(--_typography---generalsans);
  color: var(--grey);
  font-size: var(--_typography---text);
  line-height: var(--_typography---height-body);
  font-weight: var(--_typography---regular);
  margin-bottom: 0;
}

a {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---text);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  text-decoration: underline;
  transition: all .3s;
}

a:hover {
  color: var(--light-grey);
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
}

.container {
  padding-right: var(--_spacing---4-rem);
  padding-left: var(--_spacing---4-rem);
  width: 100%;
  max-width: 1800px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container.navbar-container {
  padding-left: 0;
  padding-right: 0;
}

.container.cta-section {
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-wrapper {
  z-index: 1000;
  grid-template-rows: auto;
  grid-template-columns: .25fr 1fr .25fr;
  grid-auto-columns: 1fr;
  place-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  display: grid;
  position: relative;
}

.nav-link {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---text);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  padding: 0;
  text-decoration: none;
  transition: all .3s;
}

.nav-link:hover {
  color: var(--light-grey);
}

.nav-link.w--current {
  color: #a6e00a;
}

.nav-link.w--current:where(.w-variant-1ce4d590-53f1-67d0-c5ca-9f0fee4d62d8) {
  color: #2b2b2b;
}

.navbar-brand-image {
  filter: brightness(0%);
  width: 100%;
}

.navbar-brand {
  justify-content: flex-start;
  align-items: center;
  width: 128px;
  padding: 1rem 1rem 1rem 0;
}

.navbar-brand:where(.w-variant-1ce4d590-53f1-67d0-c5ca-9f0fee4d62d8) {
  width: 160px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.navbar-cta {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.button {
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  line-height: var(--_typography---height-body);
  text-align: center;
  justify-content: flex-start;
  align-items: flex-end;
  padding: .75rem 2rem;
  font-weight: 500;
  text-decoration: none;
  transition: all .3s;
}

.button:where(.w-variant-9e8fd3dd-f1d6-43fe-0ae3-371c321e6319) {
  color: var(--black);
  background-color: #0000;
  border: 1px solid #000;
}

.button:where(.w-variant-977e61c4-1cd3-f1c2-83f2-8e248766dab1) {
  background-color: var(--white);
  color: var(--black);
}

.button:where(.w-variant-93a9c9e2-182a-7d8d-edb1-7806911ed5a2) {
  border: 1px solid var(--white);
  color: var(--white);
  background-color: #0000;
}

.button:hover {
  background-color: var(--grey);
}

.button:hover:where(.w-variant-9e8fd3dd-f1d6-43fe-0ae3-371c321e6319) {
  background-color: var(--black);
  color: var(--white);
}

.button:hover:where(.w-variant-977e61c4-1cd3-f1c2-83f2-8e248766dab1) {
  background-color: var(--grey);
  color: var(--white);
}

.button:hover:where(.w-variant-93a9c9e2-182a-7d8d-edb1-7806911ed5a2) {
  background-color: var(--white);
  color: var(--black);
}

.button.secondary {
  border: 1px solid var(--black);
  color: var(--black);
  background-color: #0000;
}

.button.secondary:hover {
  background-color: var(--black);
  color: var(--white);
}

.navbar {
  background-color: var(--white);
  border-bottom: 1px solid #bbb9b5;
}

.navbar:where(.w-variant-1ce4d590-53f1-67d0-c5ca-9f0fee4d62d8) {
  background-color: #fff;
  position: absolute;
  inset: 0% 0% auto;
}

.nav-menu {
  background-color: #0000;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.button-text-wrapper {
  flex-flow: column;
  height: 1.5rem;
  overflow: hidden;
}

.nav-menu-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: row;
  display: flex;
}

.section {
  padding-top: var(--_spacing---6-rem);
  padding-bottom: var(--_spacing---6-rem);
  overflow: clip;
}

.section.page-header, .section.style-guide {
  border-bottom: 1px solid var(--light-grey);
}

.section.style-guide {
  border-bottom: 1px solid #bbb9b5;
}

.section.footer {
  background-color: #08100d;
  background-image: linear-gradient(#0810104d, #08100d 55%), url('../images/Gemini_Generated_Image_jml1fojml1fojml1.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  padding-top: 8rem;
  padding-bottom: 0;
}

.section.footer:where(.w-variant-ac8d9122-fcbc-e39b-1f93-95b9bf3392e3) {
  background-image: linear-gradient(#0810104d, #08100d 55%);
  background-position: 0 0;
  background-size: auto;
}

.section.hero {
  padding-top: var(--_spacing---8-rem);
  padding-bottom: var(--_spacing---6-rem);
  background-image: none;
  background-position: 0 0;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.section.accent {
  background-color: var(--subtle-grey);
  display: block;
}

.section.accent.hide {
  display: none;
}

.section.cta {
  background-color: var(--black);
  background-image: linear-gradient(#0f1b2299, #0f1b2299), url('../images/Gemini_Generated_Image_gpos27gpos27gpos.webp');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  height: 100vh;
}

.page-header-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.page-header-wrapper.licenses {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

.style-guide-content {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  display: flex;
}

.style-guide-content.button-style {
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
}

.style-guide-content.color-style {
  grid-column-gap: var(--_spacing---1-rem);
  grid-row-gap: var(--_spacing---1-rem);
  flex-flow: row;
  width: 100%;
}

.style-guide-wrapper {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 160px 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.style-guide-title {
  position: sticky;
  top: 4rem;
}

.subtitle {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---text);
  line-height: var(--_typography---height-body);
  font-weight: var(--_typography---regular);
  text-transform: uppercase;
}

.subtitle.white {
  color: var(--white);
}

.text {
  font-family: var(--_typography---generalsans);
  color: var(--grey);
  font-size: var(--_typography---text);
  line-height: var(--_typography---height-body);
  font-weight: var(--_typography---regular);
  max-width: 200px;
}

.text.white {
  color: var(--white);
  width: 400px;
  max-width: 200px;
}

.text.white._01 {
  width: 500px;
  max-width: 450px;
}

.text.white._02 {
  max-width: 350px;
}

.text.hero-text {
  color: var(--black);
  font-size: var(--_typography---subtitle);
  font-weight: var(--_typography---medium);
  max-width: 390px;
}

.text.properties-text {
  max-width: 700px;
}

.text._01 {
  max-width: none;
}

.heading-1 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-1);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
}

.heading-1.hero-heading {
  font-weight: var(--_typography---medium);
  max-width: 510px;
}

.heading-1.cta-heading {
  color: var(--white);
  max-width: 44rem;
}

.heading-2 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-2);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
}

.heading-2.service-heading {
  max-width: 54rem;
}

.heading-2.hero-heading {
  font-weight: var(--_typography---medium);
  max-width: 480px;
}

.heading-3 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-3);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
}

.heading-3.white {
  color: var(--white);
}

.heading-4 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-4);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
}

.heading-4.about-heading {
  max-width: 58rem;
}

.heading-5 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-5);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
}

.heading-5.white {
  color: var(--white);
  font-size: var(--_typography---heading-6);
}

.heading-6 {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---heading-6);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
}

.heading-6.white {
  color: var(--white);
}

.color-block {
  aspect-ratio: 16 / 9;
  border-radius: .25rem;
  width: 100%;
}

.color-block.grey {
  background-color: #3a413e;
  background-color: var(--grey);
}

.color-block.subtle-grey {
  background-color: #f5f2ef;
}

.color-block.white {
  border: 1px solid var(--light-grey);
  background-color: var(--white);
  background-color: #fffdfa;
  border: .5px solid #bbb9b5;
}

.color-block.black {
  background-color: #08100d;
}

.color-block.light-grey {
  background-color: #bbb9b5;
}

.link {
  font-family: var(--_typography---generalsans);
  color: var(--black);
  font-size: var(--_typography---text);
  line-height: var(--_typography---height-heading);
  font-weight: var(--_typography---regular);
  text-decoration: underline;
}

.link.whitte {
  color: var(--white);
}

.link.whitte:hover {
  color: var(--light-grey);
}

.footer-wrapper {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;
  display: flex;
}

.footer-inner-three {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 30rem;
  display: flex;
}

.footer-inner-three:where(.w-variant-ac8d9122-fcbc-e39b-1f93-95b9bf3392e3) {
  display: none;
}

.footer-link {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  display: flex;
}

.cta-footer-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: wrap;
  display: flex;
}

.footer-inner-one {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.footer-link-list {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-flow: column;
  display: flex;
}

.footer-brand-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  align-items: flex-start;
  max-width: 30rem;
  display: flex;
}

.footer-link-wrapper {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  justify-content: space-between;
  display: flex;
}

.footer-text {
  text-align: right;
}

.footer-link-item {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  display: flex;
}

.footer-inner-two {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border-top: 1px solid var(--light-grey);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  place-items: stretch stretch;
  width: 100%;
  padding-top: 2rem;
  display: grid;
}

.footer-brand {
  mix-blend-mode: luminosity;
  width: 14rem;
}

.vertical-headline {
  grid-column-gap: var(--_spacing---2-rem);
  grid-row-gap: var(--_spacing---2-rem);
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.vertical-headline.center {
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-headline.testimonial-headline {
  max-width: 30rem;
}

.vertical-headline.faq {
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
}

.vertical-headline.contact-headline {
  max-width: 24rem;
}

.button-wrapper {
  grid-column-gap: var(--_spacing---1-rem);
  grid-row-gap: var(--_spacing---1-rem);
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-background {
  z-index: -1;
  object-fit: cover;
  position: absolute;
  inset: 0%;
}

.vertical-wrapper {
  grid-column-gap: var(--_spacing---6-rem);
  grid-row-gap: var(--_spacing---6-rem);
  flex-flow: column;
  display: flex;
}

.about-headline {
  grid-column-gap: var(--_spacing---6-rem);
  grid-row-gap: var(--_spacing---6-rem);
  grid-template-rows: auto;
  grid-template-columns: .3fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.about-image {
  aspect-ratio: 21 / 9;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
}

.parallax-image {
  object-fit: cover;
  height: 120%;
}

.properties-wrapper {
  grid-column-gap: var(--_spacing---1-rem);
  grid-row-gap: var(--_spacing---1-rem);
  flex-flow: column;
  display: flex;
}

.properties-list {
  grid-column-gap: var(--_spacing---1-rem);
  grid-row-gap: var(--_spacing---1-rem);
  grid-template-rows: auto;
  grid-template-columns: 1fr .8fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.properties-list.two {
  grid-template-columns: .8fr 1fr;
}

.property-wrapper {
  padding: var(--_spacing---1-rem);
  background-color: var(--black);
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 32rem;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: clip;
}

.property-label {
  z-index: 1;
  padding: var(--_spacing---1-rem);
  grid-column-gap: var(--_spacing---0-5-rem);
  grid-row-gap: var(--_spacing---0-5-rem);
  border-radius: var(--_spacing---0-5-rem);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #00000029;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
  left: 1px;
  overflow: clip;
}

.property-label._02 {
  width: auto;
  min-width: 380px;
  inset: 0% 0% 0% -100%;
}

.absolute-image {
  z-index: 0;
  position: absolute;
  inset: 0%;
}

.absolute-image.parallax {
  object-fit: cover;
  object-position: 50% -8%;
  height: 120%;
  inset: auto 0% 0%;
}

.service-headline {
  grid-column-gap: var(--_spacing---6-rem);
  grid-row-gap: var(--_spacing---6-rem);
  grid-template-rows: auto;
  grid-template-columns: .3fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  display: grid;
}

.service-wrapper {
  grid-column-gap: var(--_spacing---1-rem);
  grid-row-gap: var(--_spacing---1-rem);
  flex-flow: column;
  display: flex;
}

.service-link {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border-bottom: 1px solid var(--light-grey);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  transition: all .3s;
  display: flex;
}

.service-link:hover {
  border-bottom-color: var(--subtle-grey);
  background-color: var(--subtle-grey);
  color: #08100d;
  padding-left: 1rem;
  padding-right: 1rem;
}

.service-info {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.service-image {
  border-radius: .5rem;
  width: 0;
}

.service-title {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.service-title.service-b {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.arrow-icon {
  width: 2rem;
  height: 2rem;
}

.testimonial-section-wrapper {
  grid-column-gap: var(--_spacing---6-rem);
  grid-row-gap: var(--_spacing---6-rem);
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.testimonial-wrapper {
  grid-column-gap: var(--_spacing---1-rem);
  grid-row-gap: var(--_spacing---1-rem);
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: flex;
  overflow: clip;
}

.testimonial-inner {
  padding-bottom: var(--_spacing---1-rem);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr .8fr;
  grid-auto-columns: 1fr;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.testimonial-inner.absolute {
  position: absolute;
  top: 100%;
}

.testimonial-item {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  background-color: var(--white);
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
  display: flex;
}

.testimonial-profile {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.testimonial-name {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.testimonial-list {
  flex-flow: column;
  max-height: 100%;
  display: flex;
  position: relative;
}

.faq-wrapper {
  grid-column-gap: var(--_spacing---1-rem);
  grid-row-gap: var(--_spacing---1-rem);
  flex-flow: column;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.faq-dropdown {
  background-color: var(--subtle-grey);
  width: 100%;
  transition: all .3s;
  overflow: clip;
}

.faq-dropdown:active {
  background-color: #faf1e1;
}

.question {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  white-space: normal;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
  display: flex;
}

.faq-icon {
  width: 40px;
}

.answer {
  background-color: #0000;
  display: block;
  position: relative;
  overflow: hidden;
}

.answer-wrapper {
  padding: 1.5rem 2rem;
}

.contact-wrapper {
  grid-column-gap: var(--_spacing---6-rem);
  grid-row-gap: var(--_spacing---6-rem);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.contact-inner {
  grid-column-gap: var(--_spacing---6-rem);
  grid-row-gap: var(--_spacing---6-rem);
  flex-flow: column;
  justify-content: space-between;
  display: flex;
}

.contact-info {
  padding: var(--_spacing---2-rem);
  grid-column-gap: var(--_spacing---2-rem);
  grid-row-gap: var(--_spacing---2-rem);
  border: 1px solid var(--light-grey);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.contact-info.two {
  z-index: 1;
  background-color: var(--white);
  border-style: none;
  display: block;
  position: relative;
}

.form {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.form.align-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.text-field {
  border: 1px solid var(--light-grey);
  background-color: var(--subtle-grey);
  color: var(--grey);
  height: 100%;
  margin-bottom: 0;
  padding: 1.5rem 2rem;
  transition: all .3s;
}

.text-field:hover {
  background-color: var(--white);
}

.text-field:active, .text-field:focus {
  color: var(--grey);
}

.text-field::placeholder {
  color: var(--light-grey);
}

.text-field.text-area {
  min-height: 15rem;
}

.contact-form-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: var(--white);
  flex-flow: column;
  padding: 2rem;
  display: flex;
}

.form-block {
  margin-bottom: 0;
}

.form-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.location-wrapper {
  padding: var(--_spacing---2-rem);
  aspect-ratio: 3;
  object-fit: fill;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: clip;
}

.licenses-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.licenses-category {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  background-color: var(--subtle-grey);
  flex-flow: column;
  padding: 2rem;
  display: flex;
}

.license-item {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.utility-page-wrap {
  background-image: url('../images/footer-1_1footer (1).avif');
  background-position: 50%;
  background-size: cover;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  padding: var(--_spacing---4-rem);
  background-color: var(--white);
  text-align: center;
  flex-direction: column;
  width: 100%;
  max-width: 32rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.utility-page-content._404 {
  grid-column-gap: var(--_spacing---2-rem);
  grid-row-gap: var(--_spacing---2-rem);
  justify-content: flex-start;
  align-items: center;
  max-width: 36rem;
}

.utility-page-form {
  grid-column-gap: var(--_spacing---2-rem);
  grid-row-gap: var(--_spacing---2-rem);
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.password-form {
  grid-column-gap: var(--_spacing---0-5-rem);
  grid-row-gap: var(--_spacing---0-5-rem);
  flex-flow: column;
  display: flex;
}

@media screen and (min-width: 1440px) {
  .heading-2.service-heading {
    max-width: 55rem;
  }

  .heading-4.about-heading {
    max-width: 72rem;
  }
}

@media screen and (max-width: 991px) {
  body {
    --_typography---generalsans: Generalsans, Arial, sans-serif;
    --_typography---text: 16px;
    --_typography---height-body: 1.3;
    --_typography---regular: 400;
    --_typography---heading-1: 56px;
    --_typography---height-heading: 1.1;
    --_typography---heading-2: 48px;
    --_typography---heading-3: 40px;
    --_typography---heading-4: 32px;
    --_typography---heading-5: 28px;
    --_typography---heading-6: 24px;
    --_typography---subtitle: 18px;
    --_typography---medium: 500;
  }

  .container {
    padding-right: var(--_spacing---2-rem);
    padding-left: var(--_spacing---2-rem);
    max-width: none;
  }

  .navbar-wrapper {
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
  }

  .menu-button {
    background-color: var(--black);
    color: var(--white);
    padding: .5rem;
    transition: all .3s;
  }

  .menu-button:hover, .menu-button:focus, .menu-button:focus-visible, .menu-button[data-wf-focus-visible] {
    color: #fffdfa;
    background-color: #3a413e;
  }

  .navbar-cta {
    display: none;
  }

  .nav-menu {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    border-radius: .25rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: .25rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-menu-list {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    background-color: #fffdfa;
    border: 1px solid #bbb9b5;
    border-radius: .5rem;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding: 4rem 2rem;
    display: grid;
  }

  .section {
    padding-top: var(--_spacing---8-rem);
    padding-bottom: var(--_spacing---8-rem);
  }

  .section.hero {
    background-position: 0 0, 0 0;
  }

  .style-guide-content.color-style {
    grid-column-gap: var(--_spacing---1-rem);
    grid-row-gap: var(--_spacing---1-rem);
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .style-guide-wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .footer-inner-one {
    flex-flow: column;
    display: flex;
  }

  .vertical-headline.testimonial-headline, .vertical-headline.contact-headline {
    max-width: none;
  }

  .hero-background {
    object-position: 0% 50%;
  }

  .about-headline {
    grid-template-columns: auto 1fr;
  }

  .properties-list {
    flex-flow: column;
    display: flex;
  }

  .property-wrapper {
    aspect-ratio: 16 / 9;
    min-height: auto;
  }

  .service-headline {
    grid-template-columns: auto 1fr;
  }

  .service-image {
    display: none;
  }

  .testimonial-section-wrapper {
    flex-flow: column;
  }

  .testimonial-inner {
    grid-template-columns: 1fr 1fr;
  }

  .testimonial-item {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }

  .question {
    z-index: 1;
  }

  .contact-wrapper {
    grid-column-gap: var(--_spacing---4-rem);
    grid-row-gap: var(--_spacing---4-rem);
    flex-flow: column;
    display: flex;
  }

  .contact-inner {
    grid-column-gap: var(--_spacing---4-rem);
    grid-row-gap: var(--_spacing---4-rem);
  }

  .location-wrapper {
    aspect-ratio: 16 / 9;
  }

  .utility-page-wrap {
    padding-right: var(--_spacing---2-rem);
    padding-left: var(--_spacing---2-rem);
  }
}

@media screen and (max-width: 767px) {
  body {
    --_typography---generalsans: Generalsans, Arial, sans-serif;
    --_typography---text: 16px;
    --_typography---height-body: 1.3;
    --_typography---regular: 400;
    --_typography---heading-1: 48px;
    --_typography---height-heading: 1.1;
    --_typography---heading-2: 40px;
    --_typography---heading-3: 32px;
    --_typography---heading-4: 28px;
    --_typography---heading-5: 24px;
    --_typography---heading-6: 22px;
    --_typography---subtitle: 16px;
    --_typography---medium: 500;
  }

  .container {
    padding-right: var(--_spacing---1-5-rem);
    padding-left: var(--_spacing---1-5-rem);
  }

  .navbar-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .menu-button {
    padding: .5rem;
  }

  .navbar-brand {
    width: 96px;
  }

  .nav-menu, .nav-menu-list {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .section {
    padding-top: var(--_spacing---6-rem);
    padding-bottom: var(--_spacing---6-rem);
  }

  .section.hero {
    background-position: 0 0, 30% 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .style-guide-content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .style-guide-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    display: flex;
  }

  .style-guide-title {
    position: static;
  }

  .footer-wrapper {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }

  .cta-footer-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .footer-inner-one {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    padding-bottom: 4rem;
  }

  .footer-link-wrapper {
    flex-flow: wrap;
    justify-content: flex-start;
  }

  .footer-text {
    text-align: left;
  }

  .footer-inner-two {
    flex-flow: column;
    align-items: flex-start;
    display: flex;
  }

  .footer-brand {
    width: 8rem;
  }

  .hero-background {
    object-position: 30% 50%;
  }

  .vertical-wrapper {
    grid-column-gap: var(--_spacing---4-rem);
    grid-row-gap: var(--_spacing---4-rem);
  }

  .about-headline, .service-headline {
    grid-column-gap: var(--_spacing---2-rem);
    grid-row-gap: var(--_spacing---2-rem);
    flex-flow: column;
    display: flex;
  }

  .service-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .service-link:hover {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .arrow-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .testimonial-section-wrapper {
    grid-column-gap: var(--_spacing---4-rem);
    grid-row-gap: var(--_spacing---4-rem);
  }

  .testimonial-wrapper {
    flex-flow: column;
  }

  .testimonial-inner {
    flex-flow: column;
    padding-bottom: 0;
    display: flex;
  }

  .testimonial-inner.absolute {
    display: none;
  }

  .question {
    white-space: normal;
    padding: 1rem 1.5rem;
  }

  .answer-wrapper {
    padding: 1rem 1.5rem;
  }

  .contact-inner {
    grid-column-gap: var(--_spacing---4-rem);
    grid-row-gap: var(--_spacing---4-rem);
  }

  .contact-form-wrapper, .licenses-category {
    padding: 1.5rem;
  }

  .utility-page-wrap, .utility-page-content {
    padding-right: var(--_spacing---1-5-rem);
    padding-left: var(--_spacing---1-5-rem);
  }
}

@media screen and (max-width: 479px) {
  body {
    --_typography---generalsans: Generalsans, Arial, sans-serif;
    --_typography---text: 16px;
    --_typography---height-body: 1.3;
    --_typography---regular: 400;
    --_typography---heading-1: 40px;
    --_typography---height-heading: 1.1;
    --_typography---heading-2: 36px;
    --_typography---heading-3: 32px;
    --_typography---heading-4: 28px;
    --_typography---heading-5: 24px;
    --_typography---heading-6: 22px;
    --_typography---subtitle: 16px;
    --_typography---medium: 500;
  }

  .container {
    padding-right: var(--_spacing---1-rem);
    padding-left: var(--_spacing---1-rem);
  }

  .navbar-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-cta {
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .nav-menu {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-menu-list {
    flex-flow: column;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }

  .section {
    padding-top: var(--_spacing---6-rem);
  }

  .text.white._01 {
    width: auto;
    max-width: none;
  }

  .text.white._02 {
    width: auto;
  }

  .footer-link {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: wrap;
  }

  .footer-inner-two {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .about-image {
    aspect-ratio: 16 / 9;
  }

  .property-wrapper {
    min-height: 24rem;
  }

  .testimonial-item {
    padding: 1rem;
  }

  .contact-info {
    grid-column-gap: var(--_spacing---4-rem);
    grid-row-gap: var(--_spacing---4-rem);
    flex-flow: column;
    display: flex;
  }

  .form-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
    display: flex;
  }

  .location-wrapper {
    aspect-ratio: 2 / 3;
  }

  .licenses-wrapper {
    flex-flow: column;
    display: flex;
  }

  .utility-page-wrap {
    padding-right: var(--_spacing---1-rem);
    padding-left: var(--_spacing---1-rem);
  }
}

#w-node-fcb12c7c-32f6-cdf7-fd00-f3dfa642289b-cc235cb8, #w-node-_3049adb2-6382-a2c9-4ff3-91dea1e05605-cc235cb8, #w-node-_5381f972-c2b7-f542-4218-215ea3d27da1-cc235cb8, #w-node-_5381f972-c2b7-f542-4218-215ea3d27da8-cc235cb8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#Email.w-node-cd2daa4c-e827-72b9-f826-c96d42e3f681-cc235cb8, #Mesaage.w-node-cd2daa4c-e827-72b9-f826-c96d42e3f682-cc235cb8 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_4d3d57b8-9199-dcee-d148-f5f8afda3bd4-afda3bd1 {
  justify-self: start;
}

#w-node-_4d3d57b8-9199-dcee-d148-f5f8afda3bd4-afda3bd1:where(.w-variant-1ce4d590-53f1-67d0-c5ca-9f0fee4d62d8) {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_4d3d57b8-9199-dcee-d148-f5f8afda3be2-afda3bd1 {
  justify-self: end;
}

#w-node-_13a24fb3-e087-754d-34a6-062a3ba74534-cc235ce0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}